@using System.Globalization
@model BookStore.Models.ViewModels.OrderVM

<div class="card text-white bg-dark shadow border-0 mt-3">
    <div class="card-header bg-secondary bg-gradient">
        <div class="row">
            <div>
                <h3 class="text-dark">Order Details</h3>
            </div>
        </div>
    </div>
    <div class="card-body p-3">
        <div class="container text-center">
            <figure>
                <img src="~/images/catChild.png" alt="Cat Image" width="300"/>
                <figcaption>cat</figcaption>
            </figure>
        </div>
        <form method="post">
            <input asp-for="OrderHeader.Id" type="hidden"/>
            <div class="row">
                <div class="col-12 col-lg-6">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-primary">PickUp Details</span>
                    </h4>
                    <div class="form-floating mb-3 col-12">
                        @if (User.IsInRole(StaticDetails.RoleAdmin) || User.IsInRole(StaticDetails.RoleEmployee))
                        {
                            <input asp-for="OrderHeader.FullName" type="text" class="form-control border-0 shadow" id="name"/>
                            <span asp-validation-for="OrderHeader.FullName" class="text-danger"></span>
                        }
                        else
                        {
                            <input asp-for="OrderHeader.FullName" type="text" readonly class="form-control border-0 shadow" id="name"/>
                        }
                        <label asp-for="OrderHeader.FullName" class="form-label text-dark"></label>
                    </div>
                    <div class="form-floating mb-3 col-12">
                        @if (User.IsInRole(StaticDetails.RoleAdmin) || User.IsInRole(StaticDetails.RoleEmployee))
                        {
                            <input asp-for="OrderHeader.PhoneNumber" type="text" class="form-control border-0 shadow" id="phoneNumber"/>
                            <span asp-validation-for="OrderHeader.PhoneNumber" class="text-danger"></span>
                        }
                        else
                        {
                            <input asp-for="OrderHeader.PhoneNumber" type="text" readonly class="form-control border-0 shadow" id="phoneNumber"/>
                        }
                        <label asp-for="OrderHeader.PhoneNumber" class="form-label text-dark"></label>
                    </div>
                    <div class="form-floating mb-3 col-12">
                        @if (User.IsInRole(StaticDetails.RoleAdmin) || User.IsInRole(StaticDetails.RoleEmployee))
                        {
                            <input asp-for="OrderHeader.StreetAddress" type="text" class="form-control border-0 shadow" id="streetAddress"/>
                            <span asp-validation-for="OrderHeader.StreetAddress" class="text-danger"></span>
                        }
                        else
                        {
                            <input asp-for="OrderHeader.StreetAddress" type="text" readonly class="form-control border-0 shadow" id="streetAddress"/>
                        }
                        <label asp-for="OrderHeader.StreetAddress" class="form-label text-dark"></label>
                    </div>
                    <div class="form-floating mb-3 col-12">
                        @if (User.IsInRole(StaticDetails.RoleAdmin) || User.IsInRole(StaticDetails.RoleEmployee))
                        {
                            <input asp-for="OrderHeader.City" type="text" class="form-control border-0 shadow" id="city"/>
                            <span asp-validation-for="OrderHeader.City" class="text-danger"></span>
                        }
                        else
                        {
                            <input asp-for="OrderHeader.City" type="text" readonly class="form-control border-0 shadow" id="city"/>
                        }
                        <label asp-for="OrderHeader.City" class="form-label text-dark"></label>
                    </div>
                    <div class="form-floating mb-3 col-12">
                        @if (User.IsInRole(StaticDetails.RoleAdmin) || User.IsInRole(StaticDetails.RoleEmployee))
                        {
                            <input asp-for="OrderHeader.State" type="text" class="form-control border-0 shadow" id="state"/>
                            <span asp-validation-for="OrderHeader.State" class="text-danger"></span>
                        }
                        else
                        {
                            <input asp-for="OrderHeader.State" type="text" readonly class="form-control border-0 shadow" id="state"/>
                        }
                        <label asp-for="OrderHeader.State" class="form-label text-dark"></label>
                    </div>
                    <div class="form-floating mb-3 col-12">
                        @if (User.IsInRole(StaticDetails.RoleAdmin) || User.IsInRole(StaticDetails.RoleEmployee))
                        {
                            <input asp-for="OrderHeader.PostalCode" type="text" class="form-control border-0 shadow" id="postalCode"/>
                            <span asp-validation-for="OrderHeader.PostalCode" class="text-danger"></span>
                        }
                        else
                        {
                            <input asp-for="OrderHeader.PostalCode" type="text" readonly class="form-control border-0 shadow" id="postalCode"/>
                        }
                        <label asp-for="OrderHeader.PostalCode" class="form-label text-dark"></label>
                    </div>
                    <div class="form-floating mb-3 col-12">
                        @if (User.IsInRole(StaticDetails.RoleAdmin) || User.IsInRole(StaticDetails.RoleEmployee))
                        {
                            <input asp-for="OrderHeader.ApplicationUser.Email" type="text" class="form-control border-0 shadow" id="email"/>
                            <span asp-validation-for="OrderHeader.ApplicationUser.Email" class="text-danger"></span>
                        }
                        else
                        {
                            <input asp-for="OrderHeader.ApplicationUser.Email" type="text" readonly class="form-control border-0 shadow" id="email"/>
                        }
                        <label asp-for="OrderHeader.ApplicationUser.Email" class="form-label text-dark"></label>
                    </div>
                    <div class="form-floating mb-3 col-12">
                        <input asp-for="OrderHeader.OrderDate" type="text" readonly class="form-control border-0 shadow" id="orderDate"/>
                        <label asp-for="OrderHeader.OrderDate" class="form-label text-dark"></label>
                    </div>
                    <div class="form-floating mb-3 col-12">
                        @if (User.IsInRole(StaticDetails.RoleAdmin) || User.IsInRole(StaticDetails.RoleEmployee))
                        {
                            <input asp-for="OrderHeader.Carrier" type="text" class="form-control border-0 shadow" id="carrier"/>
                            <span asp-validation-for="OrderHeader.Carrier" class="text-danger"></span>
                        }
                        else
                        {
                            <input asp-for="OrderHeader.Carrier" type="text" readonly class="form-control border-0 shadow" id="carrier"/>
                        }
                        <label asp-for="OrderHeader.Carrier" class="form-label text-dark"></label>
                    </div>
                    <div class="form-floating mb-3 col-12">
                        @if (User.IsInRole(StaticDetails.RoleAdmin) || User.IsInRole(StaticDetails.RoleEmployee))
                        {
                            <input asp-for="OrderHeader.TrackingNumber" type="text" class="form-control border-0 shadow" id="trackingNumber"/>
                            <span asp-validation-for="OrderHeader.TrackingNumber" class="text-danger"></span>
                        }
                        else
                        {
                            <input asp-for="OrderHeader.TrackingNumber" type="text" readonly class="form-control border-0 shadow" id="trackingNumber"/>
                        }
                        <label asp-for="OrderHeader.TrackingNumber" class="form-label text-dark"></label>
                    </div>
                    <div class="form-floating mb-3 col-12">
                        <input asp-for="OrderHeader.ShippingDate" type="text" readonly class="form-control border-0 shadow" id="shippingDate"/>
                        <label asp-for="OrderHeader.ShippingDate" class="form-label text-dark"></label>
                    </div>
                    <div class="form-floating mb-3 col-12">
                        <input asp-for="OrderHeader.SessionId" type="text" readonly class="form-control border-0 shadow" id="sessionId"/>
                        <label asp-for="OrderHeader.SessionId" class="form-label text-dark"></label>
                    </div>
                    <div class="form-floating mb-3 col-12">
                        <input asp-for="OrderHeader.PaymentIntentId" type="text" readonly class="form-control border-0 shadow" id="paymentIntentId"/>
                        <label asp-for="OrderHeader.PaymentIntentId" class="form-label text-dark"></label>
                    </div>
                    <div class="form-floating mb-3 col-12">
                        <input asp-for="OrderHeader.PaymentDueDate" type="text" readonly class="form-control border-0 shadow" id="paymentDueDate"/>
                        <label asp-for="OrderHeader.PaymentDueDate" class="form-label text-dark"></label>
                    </div>
                    <div class="form-floating mb-3 col-12">
                        <input asp-for="OrderHeader.PaymentDate" type="text" readonly class="form-control border-0 shadow" id="paymentDate"/>
                        <label asp-for="OrderHeader.PaymentDate" class="form-label text-dark"></label>
                    </div>
                    <div class="form-floating mb-3 col-12">
                        <input asp-for="OrderHeader.PaymentStatus" type="text" readonly class="form-control border-0 shadow" id="paymentStatus"/>
                        <label asp-for="OrderHeader.PaymentStatus" class="form-label text-dark"></label>
                    </div>
                    @if (User.IsInRole(StaticDetails.RoleAdmin) || User.IsInRole(StaticDetails.RoleEmployee))
                    {
                        <div>
                            <button type="submit" asp-action="UpdateOrderDetails" class="btn btn-warning form-control my-1">Update Oder Details</button>
                        </div>
                    }
                </div>

                <div class="col-12 col-lg-6">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-primary">Order Summary</span>
                    </h4>
                    <label class="btn btn-outline-primary form-control my-2">
                        Order status: @Model.OrderHeader.OrderStatus
                    </label>

                    <ul class="list-group mb-2">
                        @foreach (var item in Model.OrderDetails)
                        {
                            <li class="list-group-item list-group-item-secondary p-2">
                                <div class="row container d-flex justify-content-between align-items-center">
                                    <div class="col-8">
                                        <h6 class="my-0 text-primary">@item.Product.Title</h6>
                                        <div class="text-muted">@item.Price.ToString("c", new CultureInfo("en-US")) x @item.Count</div>
                                    </div>
                                    <div class="col-4 text-end">
                                        <div class="text-success">@((item.Price * item.Count).ToString("c", new CultureInfo("en-US")))</div>
                                    </div>
                                </div>
                            </li>
                        }
                        <li class="list-group-item list-group-item-secondary bg-primary">
                            <div class="row container">
                                <div class="col-6">
                                    <h5 class="m-0">TOTAL</h5>
                                </div>
                                <div class="col-6 text-end">
                                    <h5 class="m-0">@Model.OrderHeader.OrderTotal.ToString("c", new CultureInfo("en-US"))</h5>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div>
                        @if (Model.OrderHeader is { PaymentStatus: StaticDetails.PaymentStatusDelayedPayment, OrderStatus: StaticDetails.OrderStatusShipped })
                        {
                            <button type="submit" asp-action="PayNow" class="btn btn-success form-control my-1">Pay Now</button>
                        }
                        @if (User.IsInRole(StaticDetails.RoleAdmin) || User.IsInRole(StaticDetails.RoleEmployee))
                        {
                            if (Model.OrderHeader.OrderStatus == StaticDetails.OrderStatusApproved)
                            {
                                <button type="submit" asp-action="StartProcessing" class="btn btn-primary form-control my-1">Start Processing</button>
                            }
                            if (Model.OrderHeader.OrderStatus == StaticDetails.OrderStatusInProcess)
                            {
                                <button type="submit" asp-action="ShipOrder" onclick="return validateInput()" class="btn btn-primary form-control my-1">Ship Order</button>
                            }
                            if (Model.OrderHeader.OrderStatus != StaticDetails.OrderStatusRefunded && 
                                Model.OrderHeader.OrderStatus != StaticDetails.OrderStatusCancelled &&
                                Model.OrderHeader.OrderStatus != StaticDetails.OrderStatusShipped)
                            {
                                <button type="submit" asp-action="CancelOrder" class="btn btn-danger form-control my-1">Cancel Order</button>
                            }
                        }
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<partial name="_Notification"/>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
    
    <script>
        function validateInput() {
            if (document.getElementById("trackingNumber").value === "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Tracking Number is required!',
                });
                return false;
            }
            if (document.getElementById("carrier").value === "") {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Carrier is required!',
                            });
                            return false;
                        }
            return true;
        }
    </script>
}
